@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0;
	background-color: #fff;
}

html {
	scroll-behavior: smooth;
}  

h1,h2,h3 {
	font-family: 'Merienda One', 'Brush Script MT', cursive;
}

h1 {
	font-size: 3rem;
	margin: 0;
}

header {
	color: beige;
}

header > p {
	color: white;
}

header {
	width: 100%;
	background-color: black;
}


#drinks {
	padding: 1rem 0;
	height: 650px;
	margin-bottom: 80px;
	background: url('/images/coffee-background.jpg') center center / cover no-repeat fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}


.text-white {
	color: #FFFFFF;
}

.black-background {
    background-color: black;
}

#home {
    background-image: url('/images/coffee-cup-5258877_640.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 75vh;
	width: 100%;
	margin: 0 auto;
}

.vertical-center {
    position: relative;
    top: 500px;
}

.home--hero--image {
	height: 750px;
	width: 75%;
}

@media  screen and (max-width: 800px) {
	#home {
		background-image: url('/images/coffee-cup-5258877_640.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 500px;
	}

	.vertical-center {
		position: relative;
		top: 300px;
		height: 200px;
		color: #fffde3;
	}

	.vertical-center > h1 {
		font-size: 2rem;
		margin-bottom: 0.5em;
	}
}

.black-background {
	background-color: black;
}

.text-center {
    text-align: center;
}


strong {
	font-size: 1.3rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

nav {
	padding: 2.5rem;
}

nav > a {
	text-decoration: none;
	color: beige;
	margin: 1rem;
	font-size: 1.2rem;
}

nav > a:hover {
	color: silver;
}

li {
    list-style-type: none;
}

.bold {
	font-weight: bold;
}

small {
	font-style: italic;
}

@media screen and (max-width: 800px) {
	.nav--container {
		display: flex;
		flex-wrap: wrap;
	}

	.nav--container > a {
		width: 100%;
		padding: 0 1.5rem;
		font-size: 1.2rem;
	}
}

.coffee--container {
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.coffee--images--container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid red;
}

#lemon-tea,
#ice-tea {
	height: 450px;
}

.text-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em;
}

.coffee--images {
	border-radius: 8px;
	width: 100%;
	margin: 1.5em;
	/* margin: 10px; */
	/* padding: 20px; */
}



.coffee--anchor {
	text-decoration: none;
	cursor: pointer;
}

.coffee--anchor--tea {
	max-width: 250px;
	position: relative;
	right: 150px;
	text-decoration: none;
}


@media screen and (min-width: 801px) {
	.coffee--container {
		margin: 2.5em auto;
		width: 70%;
	}

    .coffee--images--container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

	#espresso3 {
		height: 350px;
	}

    .coffee--images {
        border-radius: 12px;
        width: 520px;
        height: auto;
    }

    .text-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5em;
		font-size: 1.5em;
    }

    /* Change the direction of every even (2n) container */
    .coffee--images--container:nth-child(even) {
        flex-direction: row-reverse;
    }

    /* Adjust image width for the even containers to prevent overflow */
    .coffee--images--container:nth-child(even) .coffee--images {
        width: auto;
        max-width: 420px;
    }

    /* Add borders to the coffee divs within the first row */
    .coffee--images--container:nth-child(odd) {
        border-left: 1px solid #5C6264;
        border-bottom: 1px solid #5C6264;
		border-bottom-left-radius: 30px;
    }

    /* Add borders to the coffee divs within the second row */
    .coffee--images--container:nth-child(even) {
        border-right: 1px solid #5C6264;
        border-bottom: 1px solid #5C6264;
		border-bottom-right-radius: 30px;
		border-top-right-radius: 0px;
    }


}


#coffee-box {
    background-color: #6F4E37;
    position: relative;
    padding: 3.5em 0;
    width: 250px;
    height: 300px;
    left: 220px;
    top: 0; /* Remove the negative top value */
    color: #FFFFFF;
    margin-bottom: 2rem;
    z-index: 1;
	border-radius: 10px;
	line-height: 1.6;
}

#tea-box {
    background-color: #54a364;
    position: relative;
    padding: 1.5em 0;
    width: 250px;
    height: 250px;
    color: #FFFFFF;
    top: -15px; /* Adjust top position */
    z-index: 2; /* Set a higher z-index to place it above coffee-box */
    margin-left: 320px; 
	border-radius: 10px;
	line-height: 1.6;
}


#cold-drinks-box {
	background-color: rgb(37, 32, 28);
    position: relative;
    padding: 3em 0;
    width: 250px;
    height: 300px;
    right: -150px;
    top: 0;
    color: #FFFFFF;
    margin-bottom: 2rem;
    z-index: 1;
	border-radius: 10px;
	line-height: 1.6;
}



.drinks-box {
	margin: 1rem 0;
	display: inline-block;

}


.contact-boxes-container {
    width: 66%;
    margin: 0 auto;
}

.contact-box-left {
    width: 250px;
    margin-top: -20px;
	float: left;
}

.contact-box-right {
    width: 250px;
    text-align: right;
    margin-top: -20px;
	float: right;
}


.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid black;
}

ul {
	padding: 0;
}


a:hover {
	text-decoration: none;
	color: chocolate;
}

@media screen and (max-width: 800px) {

	.contact--container {
		margin: 0;
	}

	.contact-boxes-container {
		width: 100%;
		display: flex;
		height: 475px;
		flex-direction: column;
	}

	.contact-box-left {
		margin-top: 2em;
		text-align: left;
		margin-left: 1em;
	}

	.contact-box-left > h3 {
		text-align: left;
		margin-bottom: 0.45em;
	}

	.contact-box-right {
		margin: 2.5em auto;
		text-align: center;
	}

	.contact-box-center {
		height: 100px;
		width: 200px;
		margin-right: 0;
		margin-top: 1em;
	}

	.contact-box-right > h3,
	.contact-box-center > h3 {
		margin-bottom: 0.5em;
	}

	.coffee--images--container:last-child {
		border: none;
	}

}

footer {
	background-color: #6f4e37;
	padding: 1em;
	text-align: center;
    width: 100%;
	height: 150px;
	z-index: 3;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

footer > span {
	color: silver;
}


footer > p {
	color: silver;
	font-size: 1.25rem;
	margin: 0;
}


/* fieldset {
	border: none;
	margin-top: 20px;
} */

input[type=submit] {
	margin-top: 20px; 
	margin-left: 0.75rem; 
	padding: 0.75rem;
	background-color: #5e361b;
	color: white;
	border: none;
	border-radius: 5px;
}

input[type=reset] {

	margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    color: #5e361b;
    border: 1px solid #5e361b;
    border-radius: 5px;
}
	

input[type=text],
input[type=email],
input[list=coffees] {
    height: 30px;
    padding-left: 10px;
}

/* overrides css above */
input[list=coffees] {
    width: 45%;
}

select {
	height: 2rem;
    width: 100px;
    padding-left: 10px;
}

form {
	width: 100%;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: white;
}

#feedback {
	width: 100%;
	height: 300px;
}

.form--feedback {
	margin-top: 20px;
}

.fieldset--container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-basis: 1;
	border: 1px solid rgb(36, 35, 35);
	
}

.block-label {
	display: block;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 0 10px 0;
}

@media  screen and (max-width: 800px) {
	.float-left { 
		height: 100px;
		width: 175px;
		flex-grow: 1;
		/* margin-left: 10px;	 */
	}

	#name-field {
		margin-left: 10px;
	}
}


.float-left { 
	height: 100px;
	max-width: 275px;
	flex-grow: 1;	
}

#age,
#name-field,
#email-field {
	width: 90%;
}


.float-right {
    float: right;
}

label {
    margin: 10px 15px 5px 0;
}

.checkboxes-box div {
    margin-top: 15px;
}

.form--h1 {
	font-size: 2rem;
	padding: 1.5em 0;
}

.form--p {
	font-size: 1.125em;
}

.form--nav {
	display: flex;
	flex-direction: column;
}

.fieldset--products {
	padding: 10px 20px;
	margin-top: 20px;
}

.block-label {
	margin-bottom: 0.5em;
	margin-left: 0.25em
}

#fav-coffee {
	margin-left: 0.25em;
}

.form--products--coffee {
	max-width: 300px;
	margin: 20px 0;

}


@media screen and (min-width: 800px) {
	.form--h1 {
		font-size: 3rem;
		padding: 1.5em 0;
	}
	
	.form--p {
		font-size: 1.125em;
	}
	
	.form--nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.fieldset--container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		flex-basis: 1;
		border: 1px solid rgb(36, 35, 35);
		
	}


}


#terms {
    height: 200px;
    width: 90%;
    padding: 0.5rem;
    margin: 1.5rem 0 0 15px;
    border: 1px solid grey;
    overflow: scroll;
}

/* map */
#map-wrapper {
    height: 300px;
    /* margin-bottom: 107px; */
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

.container2  {
	width: 100%;
	height: 800px;
	background-image: url("/images/Home1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0%);
	display: flex;
    justify-content: space-between;
    border: none;
	/* margin-bottom: 75px; */
}

.bar {
    width: 25px;
    height: auto;
    background-color: aliceblue;
    position: relative;
    border: none;
    
}

.bar1,
.bar--last {
	background-color: transparent;
}

.logo--container {
	display: flex;
}

.coders--img {
	width: 200px;
	margin-left: auto;
	position: relative;
	top: -60px;
	right: 100px;
}

@media screen and (max-width: 800px) { 
	.container2 {
		width: 100%;
		height: 350px;
		overflow: hidden;
	}

	.home--hero--image {
		height: 100%;
		width: 100%;
		border-radius: 0;
	}

	img {
		margin: 0;
		padding: 0;
		width: 30px;
		height: auto;
	}

	#drinks {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 900px;
	}

	.drinks-box {
		width: 100%;
		padding: 20px 0;
	}

	.drinks-box > h3 {
		margin-bottom: 0.5em;
	}

	.drinks-box > ul > li {
		margin-bottom: 0.25em;
		letter-spacing: 1.5px;
	}

	#tea-box {
		background-color: #54a364;
		position: relative;
		top: -15px;
		right: 165px;
		/* z-index: 1; */
	}

	#coffee-box {
		background-color: #6F4E37;
		position: relative;
		padding: 1.5em 0;
		width: 250px;
		height: auto;
		left: 60px;
		top: -15px;
		color: #FFFFFF;
		margin-bottom: 2rem;
	}

	#cold-drinks-box {
		background-color: rgb(37, 32, 28);
		position: relative;
		color: #FFFFFF;
		padding: 1.5em 0;
		width: 250px;
		height: auto;
		right: 60px;
		top: -15px;
		margin-top: 2rem;
	}

	.drinks--menu--h2 {
		margin-bottom: 1em;
		margin-top: 0.75em;
	}
	.bar {
		width: 15px;
		height: auto;
		background-color: aliceblue;
		/* border: 1px solid rgb(87, 86, 86); */
		position: relative;
		/* left: 15px; */
		border: none;
		/* rotate: 30deg;
		top: -200px;
		right: 500px; */
		
	}
	
	.bar1,
	.bar--last {
		background-color: transparent;
	}

	.coders--img {
		width: 100px;
		margin-left: auto;
		position: relative;
		top: -20px;
		right: 40px;
	}
}

