@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	margin: 0;
	background-color: whitesmoke;
}

html {
	scroll-behavior: smooth;
}  

h1,h2,h3 {
	font-family: 'Merienda One', 'Brush Script MT', cursive;
}

h1 {
	font-size: 3rem;
	margin: 0;
}

h2 {
	font-size: xx-large;
}

header {
	color: beige;
}

header > p {
	color: white;
}

header {
	background-color: black;
}

#drinks {
	padding: 1rem 0;
	height: 650px;
	margin-bottom: 80px;
	background: url('/images/coffee-background.jpg') center center / cover no-repeat fixed;
}


.text-white {
	color: #FFFFFF;
}

.black-background {
    background-color: black;
}

#home {
    background-image: url('/images/coffee-cup-5258877_640.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 75vh;
	width: 100%;
	margin: 0 auto;
}

.vertical-center {
    position: relative;
    top: 500px;
}

.home--hero--image {
	height: 750px;
	width: 75%;
}

@media  screen and (max-width: 800px) {
	#home {
		background-image: url('/images/coffee-cup-5258877_640.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 500px;
	}

	.vertical-center {
		position: relative;
		top: 300px;
		height: 200px;
		color: #fffde3;
	}

	.vertical-center > h1 {
		font-size: 2rem;
		margin-bottom: 0.5em;
	}
}

.black-background {
	background-color: black;
}

.page-header {
	height: 50vh;
	background: center 75% / cover no-repeat;
}

.form-page-header {
	background-image: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/table.jpg')
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

strong {
	font-size: 1.3rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

nav {
	padding: 1rem;
}

nav > a {
	text-decoration: none;
	color: beige;
	margin: 1rem;
}

nav > a:hover {
	color: silver;
}

li {
    list-style-type: none;
}

.bold {
	font-weight: bold;
}

small {
	font-style: italic;
}

@media screen and (max-width: 800px) {
	.nav--container {
		display: flex;
		flex-wrap: wrap;
	}

	.nav--container > a {
		width: 100%;
		padding: 0 1.5rem;
	}
}

img {
	border-radius: 8px;
	width: 96%;
	margin: 2%;
}

#coffee-box {
	background-color: brown;
    position: relative;
    left: 70px;
    top: -15px;
}

#tea-box {
	background-color: #6f4e37;
	position: relative;
	/* z-index: 1; */
}

#cold-drinks-box {
	background-color: chocolate;
    position: relative;
    right: 70px;
    top: -15px;
}


.one-third-width-column {
    width: 33.33%;
    display: inline-block;
}

.two-thirds-width-column {
    width: 66.66%;
    display: inline-block;
}

.reasons-box {
	padding: 10px 5px 25px 5px;
	border-radius: 8px;
	width: 100%;
	margin: 2%;
	background-color: chocolate;
    position: relative;
    left: 20%;
    top: 30px;
}

.drinks-box {
	width: 33%;
	margin: 1rem 0;
	display: inline-block;
}

/* padding to allow for fixed footer */
/* #contact {
    margin-bottom: 50px;
} */

.contact-boxes-container {
    width: 66%;
    margin: 0 auto;
}

.contact-box-left {
    width: 250px;
    margin-top: -20px;
	float: left;
}

.contact-box-right {
    width: 250px;
    text-align: right;
    margin-top: -20px;
	float: right;
}

.spacer {
    clear: both;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid black;
}

ul {
	padding: 0;
}

#reasons li {
    margin-top: 5%;
}

a:hover {
	text-decoration: none;
	color: chocolate;
}

@media screen and (max-width: 800px) {

	.contact--container {
		margin: 0;
	}

	.contact-boxes-container {
		width: 100%;
		display: flex;
		height: 475px;
		flex-direction: column;
	}

	.contact-box-left {
		margin-top: 2em;
		text-align: left;
		margin-left: 1em;
	}

	.contact-box-left > h3 {
		text-align: left;
		margin-bottom: 0.45em;
	}

	.contact-box-right {
		margin: 2.5em auto;
		text-align: center;
	}

	.contact-box-center {
		height: 100px;
		width: 200px;
		margin-right: 0;
		margin-top: 1em;
	}

	.contact-box-right > h3,
	.contact-box-center > h3 {
		margin-bottom: 0.5em;
	}

}

footer {
	background-color: #6f4e37;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > span {
	color: silver;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: silver;
}

fieldset {
	border: none;
	margin-top: 20px;
}

input[type=submit] {
	margin-top: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color: #5e361b;
	color: white;
	border: none;
	border-radius: 5px;
}

input[type=reset] {

	margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    color: #5e361b;
    border: 1px solid #5e361b;
    border-radius: 5px;
}
	

input[type=text],
input[type=email],
input[list=coffees] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
}

/* overrides css above */
input[list=coffees] {
    width: 45%;
}

select {
    height: 36px;
    width: 100px;
    padding-left: 10px;
}

form {
	width: 700px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: white;
}

.block-label {
	display: block;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 0 10px 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

label {
    margin: 10px 15px 5px 0;
}

.checkboxes-box div {
    margin-top: 15px;
}

#reasons li {
    margin-top: 5%;
}

#terms {
    height: 200px;
    width: 90%;
    padding: 0.5rem;
    margin: 1.5rem 0 0 15px;
    border: 1px solid grey;
    overflow: scroll;
}

/* map */
#map-wrapper {

    height: 300px;
    margin-bottom: 107px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

@media screen and (max-width: 800px) { 
	.container2 {
		width: 100%;
		height: 350px;
		overflow: hidden;
	}

	.home--hero--image {
		height: 100%;
		width: 100%;
		border-radius: 0;
	}

	img {
		margin: 0;
		padding: 0;
	}

	#drinks {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.drinks-box {
		width: 55%;
		padding: 20px 0;
		
	}

	.drinks-box > h3 {
		margin-bottom: 0.5em;
	}

	.drinks-box > ul > li {
		margin-bottom: 0.25em;
		letter-spacing: 1.5px;
	}

	#tea-box {
		background-color: #6f4e37;
		position: relative;
		top: -15px;
		/* z-index: 1; */
	}

	.drinks--menu--h2 {
		margin-bottom: 1em;
		margin-top: 0.75em;
	}


}